<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href=" ./image/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Axzc'sBlog</title>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="./index.html">Axzc</a></div>
      </div>
      <label for="toggle-checkbox" id="toggle-label" class="visible-xs-inline-block">menu</label>
      <input class="hidden" id="toggle-checkbox" type="checkbox">
      <div class="hidden-xs">
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-cot"><a href="./index.html">首页</a></li>
          <li class="navbar-cot"><a href="./blog.html">博客</a></li>
          <li class="navbar-cot"><a href="./categories.html">归档</a></li>
          <li class="navbar-cot"><a href="./aboutme.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 main clear-fix">
        <article class="article">
          <header class="entry-header">
              <h1 class="post-title">来企鹅尝实习很长时间了</h1>
              <div class="entry-meta">
                <span class="post-category">一些感想</span>
                <span class="post-category">一些感想</span>
                <span class="post-category">一些感想</span>
                <span class="post-category">一些感想</span>
                <span class="post-category">一些感想</span>
              </div>
          </header>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </article>
        <div class="share">
          <b>分享到:</b>
          <div class="social-share"></div>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
        </div>

        <div class="comment">
          <h4>仅有 1 条评论</h4>
          <ol class="comment-list">
            <li id="comment-7" class="comment-body comment-parent comment-odd">
              <div class="comment-author">
                 <img class="avatar" src="http://0.gravatar.com/avatar/c44aa976a26712aac71ae080c7790078?s=32&amp;r=G&amp;d=" alt="世界杯竞猜" width="32" height="32">
                 <cite class="fn"><a href="http://198.f6y9.com" rel="external nofollow">世界杯竞猜</a></cite>
              </div>
              <div class="comment-meta">
                <a href="http://blog.uhaka.com/blockchain.html#comment-7">June 7th, 2018 at 11:57 am</a>
              </div>
              <div class="comment-content">
              <p>区块链火，最近都在玩。，最近都在玩。，最近都在玩。，最近都在玩。，最近都在玩。，最近都在玩。，最近都在玩。，最近都在玩。，最近都在玩。，最近都在玩。，最近都在玩。</p>
              </div>
              <div class="comment-reply">
                <a href="http://blog.uhaka.com/blockchain.html?replyTo=7#respond-page-93" rel="nofollow" onclick="return TypechoComment.reply('comment-7', 7);">回复</a>
              </div>
            </li>
          </ol>
{#            <div>#}
{#                <h3>评论</h3>#}
{#                {% for comment in comment_list %} <!--遍历评论数据列表-->#}
{#                    {% if comment.reply == None %} <!--如果没有回复目标（即顶级评论）-->#}
{#                        {% if not forloop.first %} <!--如果不是循环遍历的第一项-->#}
{#                            </ul>#}
{#                        {% endif %}#}
{#                        <ul class="list-group"> <!--顶级评论-->#}
{#                        <li class="list-group-item active">{{ comment.name }}：{{ comment.content }} ({{ comment.publish }})#}
{#                            <a href="#publish" onclick="reply('{{ comment.name }}',{{ comment.id }})"#}
{#                               style="color: white;align-self: right">[回复]</a>#}
{#                            <!--onclick的属性中调用了一个js函数 函数的参数为评论人和评论id 此函数在之后实现-->#}
{#                        </li> <!--class的属性值“active”能够让列表项样式为蓝色-->#}
{#                    {% else %}#}
{#                        <li class="list-group-item"> <!--回复评论-->#}
{#                            {{ comment.name }} >>> {{ comment.reply.name }}：{{ comment.content }} ({{ comment.publish }})#}
{#                            <a href="#publish" onclick="reply('{{ comment.name }}',{{ comment.id }})">[回复]</a>#}
{#                            <!--“#publish”能够让页面滚动到发表评论的位置-->#}
{#                        </li>#}
{#                    {% endif %}#}
{#                {% if forloop.last %} <!--如果是循环遍历的最后一项-->#}
{#                    </ul>#}
{#                {% endif %}#}
{#                {% empty %} <!--如果数据列表是空的-->#}
{#                    暂无评论！#}
{#                {% endfor %}#}
{#            </div>#}
          <div class="add-comment">
            <h4>添加新评论</h4>
            <div class="comment-form">
              <form action="">
                <div class="form-group">
                  <label for="author" class="required">称呼</label>
                  <input type="text" class="form-control" id="author">
                </div>
                <div class="form-group">
                  <label for="mail" class="required">Email</label>
                  <input type="text" class="form-control" id="mail">
                </div>
                <div class="form-group">
                  <label for="url" class="required host">网站</label>
                  <input type="text" class="form-control" placeholder="http://" id="url">
                </div>
                <div class="form-group">
                  <label for="textarea" class="required">内容</label>
                  <textarea name="内容" rows="8" cols="50" class="form-control" id="textarea"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" name="button" class="btn btn-primary">提交评论</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-4 rsidebar">
        <div class="search-bar">
          <form action="" class="parent">
              <input type="text" class="search" placeholder="搜索">
          </form>
        </div>
        <div class="side-bar-card popular">
          <div class="card-title">
            <h3>热门文章</h3>
          </div>
          <div class="card-body">
            <div class="list">
              <div class="item">
                <div class="title"><a href="#">来鹅厂实习的数月</a></div>
                <div class="desc">15k 阅读</div>
              </div>
              <div class="item">
                <div class="title"><a href="#">C++模板元编程初探感想</a></div>
                <div class="desc">15k 阅读</div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Boost Libraries中的singleton_pool内存池详解</a></div>
                <div class="desc">15k 阅读</div>
              </div>  <div class="item">
                  <div class="title"><a href="#">人生到处何所似——2018年总结</a></div>
                  <div class="desc">15k 阅读</div>
                </div>
                <div class="item">
                  <div class="title"><a href="#">C++面试知识点总结</a></div>
                  <div class="desc">15k 阅读</div>
                </div>
            </div>
          </div>
        </div>
        <div class="side-bar-card sort">
          <div class="card-title">
            <h3>分类</h3>
          </div>
          <div class="card-body">
            <div class="list">
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"<span class="post-count">2</span></a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"<span class="post-count">5</span></a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"<span class="post-count">10</span></a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"<span class="post-count">3</span></a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"<span class="post-count">1</span></a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"<span class="post-count">0</span></a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"<span class="post-count">9</span></a></div>
              </div>

            </div>
          </div>
        </div>
        <div class="side-bar-card clound-tag">
          <div class="card-title">
            <h3>标签</h3>
          </div>
          <div class="card-body">
            <div class="list">
              <div class="item">
                <div class="title label label-default"><a href="#">一本正紧的胡说八道</a></div>
                <div class="title label label-default"><a href="#">python</a></div>
                <div class="title label label-default"><a href="#">c</a></div>
                <div class="title label label-default"><a href="#">linux</a></div>
                <div class="title label label-default"><a href="#">一本正说八道</a></div>
                <div class="title label label-default"><a href="#">一本正紧说八道</a></div>
                <div class="title label label-default"><a href="#">linux</a></div>
                <div class="title label label-default"><a href="#">linussssx</a></div>
                <div class="title label label-default"><a href="#">linuqqqqqqqx</a></div>
             </div>
            </div>
          </div>
        </div>
        <div class="side-bar-card archive">
          <div class="card-title">
            <h3>归档</h3>
          </div>
          <div class="card-body">
            <div class="list">
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
              <div class="item">
                <div class="title"><a href="#">Lorem class="card-body"</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <footer class="footer">
    <div class="copyright">
      <hr>
      <span>© 2019</span>
      <a href="#">Axzc</a>
      <span>的博客</span>
    </div>
  </footer>

</body>
</html>
